[mysqld]
max_connections                 = 1024
sql_mode                        = NO_ENGINE_SUBSTITUTION
character-set-server            = utf8
default_week_format             = 1
lower_case_table_names          = 1
explicit_defaults_for_timestamp = 1
tmp_table_size                  = 512M
max_heap_table_size             = 512M
interactive_timeout             = 800
wait_timeout                    = 800
log-warnings                    = 2

log-bin                         = mysql-bin
server-id                       = 1

query_cache_size                = 0
query_cache_type                = 0
query_cache_limit               = 2M
join_buffer_size                = 512K
table_open_cache                = 4000

max_allowed_packet      = 1G
log_bin_trust_function_creators = 1
